* 
{
  box-sizing: border-box;
}

body 
{
  margin: 0;
  background: #01579B;
}

.viewport1
{
  width: 100%;
  /*background: #f46c69;*/
  overflow: hidden;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 100;
}

.svg 
{
  position: absolute;
  bottom: -10px;
  width: 700px;
  left: 0;
  right: 0;
  margin: auto;
}

.st0 {
    fill: #EFEFEF;
}

.st1 {
    fill: #E3E4E5;
}

.st2 {
    fill: #2A333A;
}

.st3 {
    opacity: 0.5;
    fill: #9E9E9E;
}

.st4 {
    fill: #5C5E60;
}

.st5 {
    fill: #404244;
}

.st6 {
    fill: #EBECED;
}

.st7 {
    fill: #FFFFFF;
}

.st8 {
    fill: #3C2415;
}

.st9 {
    fill: #432818;
}

.st10 {
    fill: #563726;
}

.st11 {
    fill: #FCFCFC;
}

.st12 {
    opacity: 0.5;
    fill: #FCFCFC;
}

.st13 {
    fill: none;
    stroke: #EBECED;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #FEFEFE;
}

.st15 {
    fill: #EF7665;
}

.st16 {
    fill: #A4D9E4;
}

.st17 {
    fill: #B8C7CD;
}

.st18 {
    fill: #474A4E;
}

.st19 {
    fill: #65B6C1;
}

.st20 {
    fill: #F46C69;
}

.st21 {
    fill: #7C7F83;
}

.st22 {
    fill: #FFFFFE;
}

.st23 {
    fill: #F96759;
}

#macbook 
{
  animation: macbook .7s linear;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#coder 
{
  animation: coder .8s linear;
  transform-origin: center center;
}

#coffee 
{
  animation: coffee 1s linear;
  transform-origin: 83% 80%;
}

#smoke 
{
  animation: smoke 3s infinite;
}

#intro-box
{
  height: 250px;
  width: 350px;
  color: #FFFFFF;
  margin-left: 25vh;
  margin-top: 30vh;
  font-family: 'Palanquin';
  font-weight: 200;
  font-size: 3vh;
}

#sublime-text
{
  margin-top: 18vh;
}

.sublime 
{
  position: relative;
  width: 60%;
  margin: 25px auto;
  padding: 2%;
  list-style: none;
  border-top: 25px solid #b4b4b4;
  border-radius: 10px;
  background: #262728;
  color: #f1f1f1;
  font-family: 'Source Code Pro';
  font-weight: 200;
  font-size: 1.1em;
}

.sublime li 
{
  min-height: 25px;
  line-height: 25px;
}

.sublime .buttons 
{
  min-height: 0;
  position: absolute;
  top: -18px;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  background-color: #ff5d5b;
  border: 1px solid #e64344;
}

.sublime .buttons:before, .sublime .buttons:after 
{
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 100%;
  top: -1px;
}

.sublime .buttons:before 
{
  left: 20px;
  border: 1px solid #e3a041;
  background-color: #ffbc4c;
}

.sublime .buttons:after 
{
  left: 40px;
  border: 1px solid #13ad46;
  background-color: #00c956;
}

.sublime .tab 
{
  margin-left: 2%;
  list-style: none;
}

.sublime .blue 
{
  color: #66d9ef;
}

.sublime .purple1 
{
  color: #8a7bff;
}

.sublime .purple2
{
  color: #8a7bff;
}

.sublime .red 
{
  color: #e92772;
}

.sublime .green 
{
  color: #a6e22d;
}
.sublime .orange 
{
  color: #fd9720;
}
.sublime .yellow 
{
  color: #e6db74;
}

.sublime .gray 
{
  color: #8f908a;
}

.sublime .white1
{
  color: #FFFFFF;
}

.sublime .white2
{
  color: #FFFFFF;
}

.sublime .gray2
{
  color: #8f908a;
}

.sublime .cursor:before 
{
  opacity: 0;
  content: "|";
  color: #f1f1f1;
  -webkit-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
}

#header-line
{
  height: 1px;
  width: 80%;
  margin-top: -450px;
  margin-left: 150px;
  background-color: #FFFFFF;
  /*opacity: 0;*/
}

#navbar
{
  height: 35px;
  width: 540px;
  /*background-color: black;*/
  margin-top: -90px;
  margin-left: 980px;
  font-family: 'Poiret One';
  font-size: 17px; 
  text-align: center;
  color: #BDBDBD;  
}


#navbar .home
{ 
  height: 60px;
  width: 120px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
  /*background-color: black;*/
}

#navbar .home:hover
{
  color: #FFFFFF;
}

#navbar .about-me
{ 
  height: 60px;
  width: 90px;
  cursor: pointer;
  /*background-color: yellow;*/
  margin-left: 110px;
  margin-top: -60px;
  -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
}

#navbar .about-me:hover
{
  color: #FFFFFF;
}

#navbar .work-experience
{ 
  height: 60px;
  width: 120px;
  cursor: pointer;
  /*background-color: orange;*/
  margin-left: 220px;
  margin-top: -60px;
  -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
}

#navbar .work-experience:hover
{
  color: #FFFFFF;
}

#navbar .projects
{ 
  height: 60px;
  width: 130px;
  cursor: pointer;
  /*background-color: blue;*/
  margin-left: 320px;
  margin-top: -60px;
  -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
}

#navbar .projects:hover
{
  color: #FFFFFF;
}

#navbar .contact-info
{ 
  height: 60px;
  width: 120px;
  cursor: pointer;
  /*background-color: pink;*/
  margin-left: 420px;
  margin-top: -60px;
  -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
}

#navbar .contact-info:hover
{
  color: #FFFFFF;
}


.hr1
{
  height: 1px;
  width: 70px;
  /*background-color: #FFFFFF;*/
  margin-top: -5px;
  margin-left: 1005px;
  -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
}

.hr2
{
  height: 1px;
  width: 70px;
  /*background-color: #FFFFFF;*/
  margin-top: -1px;
  margin-left: 1100px;
  -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
}

.hr3
{
  height: 1px;
  width: 120px;
  /*background-color: #FFFFFF;*/
  margin-top: -1px;
  margin-left: 1200px;
  -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
}

.hr4
{
  height: 1px;
  width: 60px;
  /*background-color: #FFFFFF;*/
  margin-top: -1px;
  margin-left: 1340px;
  -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
}

.hr5
{
  height: 1px;
  width: 85px;
  /*background-color: #FFFFFF;*/
  margin-top: -1px;
  margin-left: 1415px;
  -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
}

#next-page-button
{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  margin-left: 93%;
  margin-top: 20%;
  cursor: pointer;
  background-color: #e92772;
  /*box-shadow: 0 2px 6px #F50057, 0 15px 40px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.05), 10px 10px 30px rgba(0, 0, 0, 0.1), -10px 10px 30px rgba(0, 0, 0, 0.1), inset 0 0 5px #C2185B, inset 0 5px 10px #E91E63;*/
}

#next-page-button .next-page-icon
{
  position: relative;
  top: 30%;
  left: 40%;
}

.fa-chevron-right
{
  color: #FFFFFF;
}




@-webkit-keyframes blink 
{
  0% 
  {
    opacity: 0;
  }
  50% 
  {
    opacity: 1;
  }
  100% 
  {
    opacity: 0;
  }
}

@keyframes blink 
{
  0% 
  {
    opacity: 0;
  }
  50% 
  {
    opacity: 1;
  }
  100% 
  {
    opacity: 0;
  }
}

@keyframes macbook 
{
  0% 
  {
    transform: translateY(300px);
  }
  50% 
  {
    transform: translateY(10px);
  }
  100% 
  {
    transform: translateY(0px);
  }
}

@keyframes coffee 
{
  0%{transform: scale(0); opacity: 0}
  50%{transform: scale(1.5); opacity: 1}
  100% {transform: scale(1); opacity:1}
}

@keyframes smoke 
{
  0% 
  {
    transform: translateY(0px);
    opacity: 1;
  }
  50% 
  {
    opacity: .5;
  }
  100% 
  {
    transform: translateY(-15px);
    opacity: 0;
  }
}

@keyframes coder 
{
  0% 
  {
    transform: scale(0);
    opacity: 0;
  }
  50% 
  {
    transform: scale(1.5);
    opacity: 1;
  }
  100% 
  {
    transform: scale(1);
    opacity: 1;
  }
}