/*-------------------------------------------------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/

#viewport1 {
    width: 100%;
    background: #01579B;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    top: 0px;
    left: 0%;
    transition: all 1s ease;
}

.svg {
    position: absolute;
    bottom: -10px;
    width: 700px;
    left: 0;
    right: 0;
    margin: auto;
}


/*Color schemes for the svg icons*/

.st0 {
    fill: #EFEFEF;
}

.st1 {
    fill: #E3E4E5;
}

.st2 {
    fill: #2A333A;
}

.st3 {
    opacity: 0.5;
    fill: #9E9E9E;
}

.st4 {
    fill: #5C5E60;
}

.st5 {
    fill: #404244;
}

.st6 {
    fill: #EBECED;
}

.st7 {
    fill: #FFFFFF;
}

.st8 {
    fill: #3C2415;
}

.st9 {
    fill: #432818;
}

.st10 {
    fill: #563726;
}

.st11 {
    fill: #FCFCFC;
}

.st12 {
    opacity: 0.5;
    fill: #FCFCFC;
}

.st13 {
    fill: none;
    stroke: #EBECED;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #FEFEFE;
}

.st15 {
    fill: #EF7665;
}

.st16 {
    fill: #A4D9E4;
}

.st17 {
    fill: #B8C7CD;
}

.st18 {
    fill: #474A4E;
}

.st19 {
    fill: #65B6C1;
}

.st20 {
    fill: #F46C69;
}

.st21 {
    fill: #7C7F83;
}

.st22 {
    fill: #FFFFFE;
}

.st23 {
    fill: #F96759;
}

#macbook {
    animation: macbook .7s linear;
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#coder {
    animation: coder .8s linear;
    transform-origin: center center;
}

#coffee {
    animation: coffee 1s linear;
    transform-origin: 83% 80%;
}

#smoke {
    animation: smoke 3s infinite;
}

#intro-box {
    height: 250px;
    width: 350px;
    color: #FFFFFF;
    margin-left: 25vh;
    margin-top: 30vh;
    font-family: 'Palanquin';
    font-weight: 200;
    font-size: 3vh;
}

#sublime-text {
    margin-top: 18vh;
}

.sublime {
    position: relative;
    width: 60%;
    margin: 25px auto;
    padding: 2%;
    list-style: none;
    border-top: 25px solid #b4b4b4;
    border-radius: 10px;
    background: #262728;
    color: #f1f1f1;
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-size: 1.1em;
}

.sublime li {
    min-height: 25px;
    line-height: 25px;
}

.sublime .buttons {
    min-height: 0;
    position: absolute;
    top: -18px;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    background-color: #ff5d5b;
    border: 1px solid #e64344;
}

.sublime .buttons:before,
.sublime .buttons:after {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 100%;
    top: -1px;
}

.sublime .buttons:before {
    left: 20px;
    border: 1px solid #e3a041;
    background-color: #ffbc4c;
}

.sublime .buttons:after {
    left: 40px;
    border: 1px solid #13ad46;
    background-color: #00c956;
}

.sublime .tab {
    margin-left: 2%;
    list-style: none;
}


/*Color schemes for sublime text*/

.sublime .#FFFF00 {
    color: #66d9ef;
}

.sublime .purple1 {
    color: #8a7bff;
}

.sublime .purple2 {
    color: #8a7bff;
}

.sublime .red {
    color: #e92772;
}

.sublime .green {
    color: #a6e22d;
}

.sublime .orange {
    color: #fd9720;
}

.sublime .yellow {
    color: #e6db74;
}

.sublime .gray {
    color: #8f908a;
}

.sublime .white1 {
    color: #FFFFFF;
}

.sublime .white2 {
    color: #FFFFFF;
}

.sublime .gray2 {
    color: #8f908a;
}

.sublime .cursor:before {
    opacity: 0;
    content: "|";
    color: #f1f1f1;
    -webkit-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}

#header-line {
    height: 1px;
    width: 80%;
    margin-top: -480px;
    margin-left: 150px;
    background-color: #FFFFFF;
    /*opacity: 0;*/
}

#navbar {
    height: 35px;
    width: 540px;
    position: fixed;
    right: 7%;
    top: 4%;
    font-family: 'Poiret One';
    font-size: 17px;
    text-align: center;
    color: #BDBDBD;
}

#navbar .home {
    height: 60px;
    width: 120px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    /* Safari */
    transition: all 0.5s ease-in-out;
    /*background-color: black;*/
}

#navbar .home:hover {
    color: #FFFFFF;
}

#navbar .about-me {
    height: 60px;
    width: 90px;
    cursor: pointer;
    /*background-color: yellow;*/
    margin-left: 110px;
    margin-top: -60px;
    -webkit-transition: all 0.5s ease-in-out;
    /* Safari */
    transition: all 0.5s ease-in-out;
}

#navbar .about-me:hover {
    color: #FFFFFF;
}

#navbar .work-experience {
    height: 60px;
    width: 120px;
    cursor: pointer;
    /*background-color: orange;*/
    margin-left: 220px;
    margin-top: -60px;
    -webkit-transition: all 0.5s ease-in-out;
    /* Safari */
    transition: all 0.5s ease-in-out;
}

#navbar .work-experience:hover {
    color: #FFFFFF;
}

#navbar .projects {
    height: 60px;
    width: 130px;
    cursor: pointer;
    /*background-color: #FFFF00;*/
    margin-left: 320px;
    margin-top: -60px;
    -webkit-transition: all 0.5s ease-in-out;
    /* Safari */
    transition: all 0.5s ease-in-out;
}

#navbar .projects:hover {
    color: #FFFFFF;
}

#navbar .contact-info {
    height: 60px;
    width: 120px;
    cursor: pointer;
    /*background-color: pink;*/
    margin-left: 420px;
    margin-top: -60px;
    -webkit-transition: all 0.5s ease-in-out;
    /* Safari */
    transition: all 0.5s ease-in-out;
}

#navbar .contact-info:hover {
    color: #FFFFFF;
}

#next-page-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    left: 93%;
    top: 50%;
    cursor: pointer;
    background-color: #e92772;
    /*box-shadow: 0 2px 6px #F50057, 0 15px 40px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.05), 10px 10px 30px rgba(0, 0, 0, 0.1), -10px 10px 30px rgba(0, 0, 0, 0.1), inset 0 0 5px #C2185B, inset 0 5px 10px #E91E63;*/
}

#next-page-button .next-page-icon {
    position: relative;
    top: 30%;
    left: 40%;
}

.fa-chevron-right {
    color: #FFFFFF;
}


/*Keyframe Animation Effects */

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes macbook {
    0% {
        transform: translateY(300px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes coffee {
    0% {
        transform: scale(0);
        opacity: 0
    }
    50% {
        transform: scale(1.5);
        opacity: 1
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes smoke {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        transform: translateY(-15px);
        opacity: 0;
    }
}

@keyframes coder {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/

#viewport2 {
    position: fixed;
    background-color: #FFFFFF;
    /*background-color: #E91E63;*/
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0%;
    transition: all 1s ease;
}

#sublime-text-viewport2 {
    position: relative;
    left: 25%;
    top: 20%;
    opacity: 0;
}

.sublime-viewport2 {
    position: relative;
    width: 50%;
    margin: 25px auto;
    padding: 2%;
    list-style: none;
    border-top: 25px solid #b4b4b4;
    border-radius: 10px;
    background: #262728;
    color: #f1f1f1;
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-size: 1.1em;
}

.sublime-viewport2 li {
    min-height: 25px;
    line-height: 25px;
}

.sublime-viewport2 .buttons {
    min-height: 0;
    position: absolute;
    top: -18px;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    background-color: #ff5d5b;
    border: 1px solid #e64344;
}

.sublime-viewport2 .buttons:before,
.sublime-viewport2 .buttons:after {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 100%;
    top: -1px;
}

.sublime-viewport2 .buttons:before {
    left: 20px;
    border: 1px solid #e3a041;
    background-color: #ffbc4c;
}

.sublime-viewport2 .buttons:after {
    left: 40px;
    border: 1px solid #13ad46;
    background-color: #00c956;
}

.sublime-viewport2 .tab {
    margin-left: 2%;
    list-style: none;
}


/*Color schemes for sublime text*/

.sublime-viewport2 .#FFFF00-viewport2 {
    color: #66d9ef;
}

.sublime-viewport2 .purple-viewport2 {
    color: #8a7bff;
}

.sublime-viewport2 .red-viewport2 {
    color: #e92772;
}

.sublime-viewport2 .green-viewport2 {
    color: #a6e22d;
}

.sublime-viewport2 .orange-viewport2 {
    color: #fd9720;
}

.sublime-viewport2 .yellow-viewport2 {
    color: #e6db74;
}

.sublime-viewport2 .gray-viewport2 {
    color: #8f908a;
}

.sublime-viewport2 .white-1-viewport2 {
    color: #FFFFFF;
}

.sublime-viewport2 .white-2-viewport2 {
    color: #FFFFFF;
}

.sublime-viewport2 .white-3-viewport2 {
    color: #FFFFFF;
}

.sublime-viewport2 .cursor:before {
    opacity: 0;
    content: "|";
    color: #f1f1f1;
    -webkit-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}


/*Astronomy Scene


/* (Space Shuttle) */

.rocket {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 80%;
    margin: -100px 0 0 -100px;
    /*opacity: 0;*/
}

.external-tank {
    width: 30px;
    height: 100px;
    background: #d49459;
    position: absolute;
    border-radius: 15px 15px 0 0;
    box-shadow: inset 5px 5px 0 #b17e4d;
    z-index: 4;
}

.external-tank:before {
    content: '';
    border: 15px solid transparent;
    border-top: 15px solid #d49459;
    position: absolute;
    bottom: -30px;
}

.external-tank:after {
    content: '';
    border: 15px solid transparent;
    border-bottom: 15px solid #898a88;
    position: absolute;
    bottom: -20px;
}

.external-tank .rocket-booster {
    width: 8px;
    height: 100px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 25%;
    z-index: 2;
    margin-left: -4px;
    -webkit-filter: drop-shadow(#cfcece -2px 0 0);
}

.external-tank .rocket-booster:before {
    content: '';
    border: 4px solid transparent;
    border-bottom: 8px solid #ffffff;
    position: absolute;
    top: -12px;
    left: 0px;
}

.external-tank .rocket-booster:after {
    content: '';
    border: 8px solid transparent;
    border-bottom: 12px solid #ffffff;
    position: absolute;
    bottom: -6px;
    left: -4px;
}

.shuttle {
    width: 25px;
    height: 90px;
    background: #fff;
    position: absolute;
    left: 32px;
    top: 15px;
    border-radius: 3px 50px 0 0;
    -webkit-filter: drop-shadow(black 0 0 2px);
    box-shadow: inset 3px 0 1px rgba(0, 0, 0, 0.2), inset 1px 0 0 black;
    z-index: 2;
}

.shuttle:before {
    content: '';
    width: 10px;
    height: 30px;
    border-radius: 0 0 80% 3px;
    background: #fff;
    position: absolute;
    bottom: -8px;
    right: -10px;
    transform: rotate(-45deg);
}

.shuttle:after {
    content: '';
    width: 1px;
    height: 40px;
    background: rgba(50, 50, 50, 0.1);
    position: absolute;
    left: 5px;
    top: 50%;
}

.shuttle .window {
    width: 8px;
    height: 30px;
    background: #000;
    position: absolute;
}

.shuttle .window:before {
    content: '';
    width: 5px;
    height: 10px;
    background: #000;
    position: absolute;
    transform: rotate(10deg);
    border-radius: 2px 8px 0 0;
    left: 14px;
    top: 5px;
}

.thrusters {
    position: absolute;
    top: 46%;
    left: 30px;
    border: 8px solid transparent;
    border-bottom: 15px solid #9d9e9d;
    z-index: -1;
}

.thrusters:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 5px;
    border: 8px solid transparent;
    border-bottom: 15px solid #9d9e9d;
}

.thrusters:after {
    content: '';
    position: absolute;
    top: -12px;
    left: -5px;
    border: 11px solid transparent;
    border-bottom: 20px solid #8c8d8b;
}

.flames {
    width: 44px;
    height: 120px;
    background: #ce7e3d;
    position: absolute;
    top: 116px;
    left: -6px;
    border-radius: 60% 60% 100% 100%;
    z-index: -1;
}

.flames:before {
    content: '';
    width: 30px;
    height: 110px;
    position: absolute;
    left: 10px;
    background: #e0b144;
    border-radius: 100%;
}

.flames:after {
    content: '';
    width: 25px;
    height: 100px;
    position: absolute;
    left: 10px;
    background: #f8e546;
    border-radius: 100%;
}

.flames.right {
    left: 23px;
    top: 114px;
    z-index: -4;
    height: 150px;
}

.flames.right:before {
    height: 140px;
}

.flames.right:after {
    height: 130px;
}

.smoke {
    position: absolute;
    top: 132px;
    left: 5px;
    width: 5px;
    height: 5px;
}

.smoke .s-1 {
    border-radius: 50%;
    position: absolute;
    background: #adadac;
    width: 22px;
    height: 22px;
    top: -4px;
    left: -3px;
    z-index: 2;
}

.smoke .s-2 {
    border-radius: 50%;
    position: absolute;
    background: #adadac;
    width: 18px;
    height: 18px;
    top: 4px;
    left: -3px;
    z-index: 2;
}

.smoke .s-3 {
    border-radius: 50%;
    position: absolute;
    background: #adadac;
    width: 22px;
    height: 22px;
    top: 8px;
    left: -1px;
    z-index: 2;
}

.smoke .s-4 {
    border-radius: 50%;
    position: absolute;
    background: #adadac;
    width: 30px;
    height: 30px;
    top: 20px;
    left: -1px;
    z-index: 2;
}

.smoke .s-5 {
    border-radius: 50%;
    position: absolute;
    background: #adadac;
    width: 30px;
    height: 30px;
    top: 20px;
    left: -15px;
    z-index: 2;
}

.smoke .s-6 {
    border-radius: 50%;
    position: absolute;
    background: #adadac;
    width: 50px;
    height: 50px;
    top: 35px;
    left: -5px;
    z-index: 2;
}

.smoke .s-7 {
    border-radius: 50%;
    position: absolute;
    background: #adadac;
    width: 50px;
    height: 50px;
    top: 35px;
    left: -25px;
    z-index: 2;
}

.smoke .s-8 {
    border-radius: 50%;
    position: absolute;
    background: #adadac;
    width: 80px;
    height: 80px;
    top: 65px;
    left: -45px;
    z-index: 2;
}

.smoke .s-9 {
    border-radius: 50%;
    position: absolute;
    background: #adadac;
    width: 90px;
    height: 90px;
    top: 65px;
    left: 15px;
    z-index: 2;
}

.smoke .s-10 {
    border-radius: 50%;
    position: absolute;
    background: #adadac;
    width: 150px;
    height: 150px;
    top: 95px;
    left: -70px;
    z-index: 2;
}

.smoke .s-11 {
    border-radius: 50%;
    position: absolute;
    background: #adadac;
    width: 180px;
    height: 180px;
    top: 130px;
    left: -25px;
    z-index: 2;
}

.smoke .s-12 {
    border-radius: 50%;
    position: absolute;
    background: #adadac;
    width: 50px;
    height: 50px;
    top: 35px;
    left: -25px;
    z-index: 2;
}

.smoke .s-13 {
    border-radius: 50%;
    position: absolute;
    background: #878887;
    width: 110px;
    height: 110px;
    top: 105px;
    left: 50px;
    z-index: 1;
}

.smoke .s-14 {
    border-radius: 50%;
    position: absolute;
    background: #878887;
    width: 160px;
    height: 160px;
    top: 140px;
    left: 60px;
    z-index: 1;
}

.smoke .s-15 {
    border-radius: 50%;
    position: absolute;
    background: #878887;
    width: 90px;
    height: 90px;
    top: 95px;
    left: -85px;
    z-index: 1;
}

.smoke .s-16 {
    border-radius: 50%;
    position: absolute;
    background: #878887;
    width: 50px;
    height: 50px;
    top: 155px;
    left: 180px;
    z-index: 1;
}

.smoke .s-17 {
    border-radius: 50%;
    position: absolute;
    background: #878887;
    width: 50px;
    height: 50px;
    top: 175px;
    left: 195px;
    z-index: 1;
}

.smoke .s-18 {
    border-radius: 50%;
    position: absolute;
    background: #878887;
    width: 110px;
    height: 110px;
    top: 125px;
    left: -105px;
    z-index: 1;
}

.smoke .s-19 {
    border-radius: 50%;
    position: absolute;
    background: #c3c4c3;
    width: 50px;
    height: 50px;
    top: 155px;
    left: 0px;
    z-index: 3;
}

.smoke .s-20 {
    border-radius: 50%;
    position: absolute;
    background: #c3c4c3;
    width: 110px;
    height: 110px;
    top: 155px;
    left: -80px;
    z-index: 3;
}

.smoke .s-21 {
    border-radius: 50%;
    position: absolute;
    background: #c3c4c3;
    width: 400px;
    height: 400px;
    top: 205px;
    left: -330px;
    z-index: 3;
}

.smoke .s-22 {
    border-radius: 50%;
    position: absolute;
    background: #c3c4c3;
    width: 200px;
    height: 200px;
    top: 225px;
    left: -130px;
    z-index: 3;
}

.smoke .s-23 {
    border-radius: 50%;
    position: absolute;
    background: #c3c4c3;
    width: 100px;
    height: 100px;
    top: 255px;
    left: 60px;
    z-index: 3;
}

.smoke .s-24 {
    border-radius: 50%;
    position: absolute;
    background: #c3c4c3;
    width: 130px;
    height: 130px;
    top: 255px;
    left: 120px;
    z-index: 3;
}

.smoke .s-25 {
    border-radius: 50%;
    position: absolute;
    background: #c3c4c3;
    width: 140px;
    height: 140px;
    top: 215px;
    left: 170px;
    z-index: 3;
}

.smoke .s-26 {
    border-radius: 50%;
    position: absolute;
    background: #efeeee;
    width: 200px;
    height: 200px;
    top: 265px;
    left: -130px;
    z-index: 3;
}

.smoke .s-27 {
    border-radius: 50%;
    position: absolute;
    background: #efeeee;
    width: 100px;
    height: 100px;
    top: 305px;
    left: 60px;
    z-index: 3;
}

.smoke .s-28 {
    border-radius: 50%;
    position: absolute;
    background: #efeeee;
    width: 130px;
    height: 130px;
    top: 285px;
    left: 100px;
    z-index: 3;
}

.smoke .s-29 {
    border-radius: 50%;
    position: absolute;
    background: #efeeee;
    width: 200px;
    height: 200px;
    top: 265px;
    left: 170px;
    z-index: 3;
}

.smoke .s-30 {
    border-radius: 50%;
    position: absolute;
    background: #efeeee;
    width: 50px;
    height: 50px;
    top: 465px;
    left: 100px;
    z-index: 3;
}


/* (Moon Structure) */


/*Basic Moon Structure*/

#moon {
    height: 120px;
    width: 120px;
    background: #c7cbd0;
    position: fixed;
    top: 10%;
    right: 70%;
    border-radius: 50%;
    box-shadow: inset 12px -9px 3px #857c7c;
    /*opacity: 0;*/
}


/*Basic Crater Properties*/

.spot {
    border-radius: 50%;
    background: #737277;
    box-shadow: inset -2px 2px 0 #454040;
}


/*Craters*/

#s1 {
    height: 18px;
    width: 18px;
    position: fixed;
    top: 13%;
    left: 20%;
}

#s2 {
    height: 10px;
    width: 10px;
    position: fixed;
    top: 17%;
    left: 24%;
}

#s3 {
    height: 7px;
    width: 7px;
    position: fixed;
    top: 16%;
    left: 18%;
}

#s4 {
    height: 5px;
    width: 5px;
    position: fixed;
    top: 14%;
    left: 27%;
}

#s5 {
    height: 12px;
    width: 12px;
    position: fixed;
    top: 11%;
    left: 18%;
}

#s6 {
    height: 7px;
    width: 7px;
    position: fixed;
    top: 13%;
    left: 14%;
}

#hidden-orbit {
    height: 1300px;
    width: 650px;
    border-radius: 1300px 0 0 1300px;
    position: fixed;
    bottom: 2%;
    right: 85%;
    /*border: dashed rgba(256,256,256,0.5);
  border-width: 1px;*/
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-name: rise;
    animation-name: rise;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

@-webkit-keyframes rise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@-o-keyframes rise {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@-moz-keyframes rise {
    0% {
        -webkit-tranform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}

@keyframes rise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}


/* (Astronaut) */

.arm-left {
    animation: armSwipe 5s 1s infinite ease-in-out;
    transform-origin: left top;
}

@keyframes armSwipe {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

.arm-right {
    animation: armRightSwipe 5s 1s infinite ease-in-out;
    transform-origin: right top;
}

@keyframes armRightSwipe {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

.astronaut {
    position: relative;
    width: 20%;
    height: auto;
    left: 40vh;
    top: 20vh;
    overflow: visible;
    animation: Levitation 5s 1s infinite ease-in-out;
    opacity: 0;
}

@keyframes Levitation {
    0% {
        transform: translateY(100px);
    }
    50% {
        transform: translateY(80px);
    }
    100% {
        transform: translateY(100px);
    }
}

.leg-right {
    animation: LegSwipe 5s 1s infinite ease-out;
    transform-origin: left bottom;
}

@keyframes LegSwipe {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(8deg);
    }
}

.leg-left {}

@keyframes LegLeftSwipe {
    0% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

.reflect {
    animation: faceOpacity 5s 1s infinite;
}

@keyframes faceOpacity {
    0% {
        opacity: 0.7;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}

.eye-right {
    animation: eyeBlink 5s infinite step-start 0s;
}

.eye-left {
    animation: eyeLeftBlink 5s infinite step-start 0s;
}

@keyframes eyeBlink {
    90% {
        transform: none;
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(135px) scaleY(0);
    }
    100% {
        animation-timing-function: ease-in;
    }
}

@keyframes eyeLeftBlink {
    90% {
        transform: none;
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(155px) scaleY(0);
    }
    100% {
        animation-timing-function: ease-in;
    }
}

.stars {
    width: 800px;
    fill: #fff;
    overflow: visible;
    animation: starsRotate 155s 1s linear;
    transform-origin: center;
    opacity: 0;
}

@keyframes starsRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* (Books) */

#bookshelf1 {
    position: relative;
    top: 150px;
    right: 60%;
    opacity: 0;
}

#shelf-outer {
    float: right;
    height: 480px;
    width: 426px;
    perspective-origin: 213px 240px;
    transform-origin: 213px 240px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
    margin: 140px 0px 0px;
    transition: all 1s ease 0s;
}

#shelf-inner {
    height: 440px;
    width: 426px;
    perspective-origin: 213px 220px;
    transform-origin: 213px 220px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}

#shelf-top {
    height: 158px;
    position: relative;
    width: 360px;
    perspective-origin: 180px 79px;
    transform-origin: 180px 79px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
    margin: 0px 0px 0px 33px;
}

#shelf-top:after {
    background-position: 0% 100%;
    content: '';
    display: block;
    height: 210px;
    width: 426px;
    perspective-origin: 213px 105px;
    transform-origin: 213px 105px;
    background: rgba(0, 0, 0, 0) url("http://www.turnjs.com/pics/wall-bookshelf.png") no-repeat scroll 0% 100% / 100% padding-box border-box;
    font: normal normal normal normal 16px / normal 'Times New Roman';
    margin: 0px 0px 0px -38px;
}

#shelf-top-inner {
    bottom: 0px;
    height: 115px;
    position: absolute;
    width: 360px;
    perspective-origin: 180px 57.5px;
    transform-origin: 180px 57.5px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}

#shelf-top-inner-1,
#shelf-top-inner-2,
#shelf-top-inner-3 {
    float: left;
    height: 115px;
    position: relative;
    text-align: center;
    width: 118.797px;
    perspective-origin: 59.3906px 57.5px;
    transform-origin: 59.3906px 57.5px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}

#shelf-top-inner-1-content {
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px 0px;
    height: 115px;
    position: relative;
    text-align: center;
    width: 92px;
    z-index: 1;
    perspective-origin: 46px 57.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 46px 57.5px;
    background: rgba(0, 0, 0, 0) url("http://www.turnjs.com/pics/book1.jpg") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / normal 'Times New Roman';
    margin: 0px 13.4063px 0px 13.3906px;
    transition: transform 0.1s ease 0s;
}

#shelf-top-inner-2-content {
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px 0px;
    height: 115px;
    position: relative;
    text-align: center;
    width: 87px;
    z-index: 1;
    perspective-origin: 43.5px 57.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 43.5px 57.5px;
    background: rgba(0, 0, 0, 0) url("http://www.turnjs.com/pics/book2.jpg") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / normal 'Times New Roman';
    margin: 0px 15.9063px 0px 15.8906px;
    transition: transform 0.1s ease 0s;
}

#shelf-top-inner-3-content {
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px 0px;
    height: 115px;
    position: relative;
    text-align: center;
    width: 90px;
    z-index: 1;
    perspective-origin: 45px 57.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 45px 57.5px;
    background: rgba(0, 0, 0, 0) url("http://www.turnjs.com/pics/book3.jpg") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / normal 'Times New Roman';
    margin: 0px 14.4063px 0px 14.3906px;
    transition: transform 0.1s ease 0s;
}

#shelf-bottom {
    height: 164px;
    position: relative;
    width: 360px;
    perspective-origin: 180px 82px;
    transform-origin: 180px 82px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
    margin: 20px 0px 0px 33px;
}

#shelf-bottom:after {
    background-position: 0% 100%;
    content: '';
    display: block;
    height: 216px;
    width: 426px;
    perspective-origin: 213px 108px;
    transform-origin: 213px 108px;
    background: rgba(0, 0, 0, 0) url("http://www.turnjs.com/pics/wall-bookshelf.png") no-repeat scroll 0% 100% / 100% padding-box border-box;
    font: normal normal normal normal 16px / normal 'Times New Roman';
    margin: 0px 0px 0px -38px;
}

#shelf-bottom-inner {
    bottom: 0px;
    height: 125px;
    position: absolute;
    width: 360px;
    perspective-origin: 180px 62.5px;
    transform-origin: 180px 62.5px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}

#shelf-bottom-inner-1,
#shelf-bottom-inner-2,
#shelf-bottom-inner-3 {
    float: left;
    height: 125px;
    position: relative;
    text-align: center;
    width: 118.797px;
    perspective-origin: 59.3906px 62.5px;
    transform-origin: 59.3906px 62.5px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}

#shelf-bottom-inner-1-content {
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px 0px;
    height: 125px;
    position: relative;
    text-align: center;
    width: 97px;
    z-index: 1;
    perspective-origin: 48.5px 62.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 48.5px 62.5px;
    background: rgba(0, 0, 0, 0) url("http://www.turnjs.com/pics/book4.jpg") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / normal 'Times New Roman';
    margin: 0px 10.9063px 0px 10.8906px;
    transition: transform 0.1s ease 0s;
}

#shelf-bottom-inner-2-content {
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px 0px;
    height: 125px;
    position: relative;
    text-align: center;
    width: 97px;
    z-index: 1;
    perspective-origin: 48.5px 62.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 48.5px 62.5px;
    background: rgba(0, 0, 0, 0) url("http://www.turnjs.com/pics/book5.jpg") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / normal 'Times New Roman';
    margin: 0px 10.9063px 0px 10.8906px;
    transition: transform 0.1s ease 0s;
}

#shelf-bottom-inner-3-content {
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px 0px;
    height: 125px;
    position: relative;
    text-align: center;
    width: 104px;
    z-index: 1;
    perspective-origin: 52px 62.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 52px 62.5px;
    background: rgba(0, 0, 0, 0) url("http://www.turnjs.com/pics/book6.jpg") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / normal 'Times New Roman';
    margin: 0px 7.40625px 0px 7.39063px;
    transition: transform 0.1s ease 0s;
}


/* (Writing Scroll) */

#writing {
    position: relative;
    bottom: 20%;
    right: 20%;
    opacity: 100%;
}

.plane {
    width: 1100px;
    height: 310px;
    margin: 20px auto 200px;
    position: relative;
    margin-left: 137vh;
    margin-top: 30vh;
}

.ver-stab {
    width: 12px;
    height: 135px;
    background-color: #B9B8CC;
    border-top-left-radius: 50% 30%;
    border-top-right-radius: 50% 30%;
    position: absolute;
    left: 49.6%;
    top: 3px;
    overflow: hidden;
}

.ver-stab-tri {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 120px 10px;
    border-color: transparent transparent #B9B8CC transparent;
    left: 49.3%;
    top: 6%;
}

.ver-stab:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #656479;
    position: absolute;
    left: 50%;
    border-top-left-radius: 5px 15px;
}

.ver-stab-tri:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 0 0 10px;
    border-color: transparent transparent transparent #656479;
    position: absolute;
}

.nose {
    width: 153px;
    height: 153px;
    background-color: #B9B8CC;
    position: absolute;
    left: 50.1%;
    top: 44.5%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;
}

.nose:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: -20%;
    left: -15%;
}

.back-body {
    width: 165px;
    height: 80px;
    background: -webkit-linear-gradient(left, #D5D4E7 0%, #68687D 100%);
    background: linear-gradient(left, #D5D4E7 0%, #68687D 100%);
    position: absolute;
    left: 42.6%;
    top: 60.5%;
    border-radius: 50% / 100%;
    z-index: -100;
}

.back-body:before {
    content: "";
    position: absolute;
    background-color: #D5D4E7;
    width: 60px;
    height: 20px;
    top: 38%;
    left: -28%;
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
}

.back-body:after {
    content: "";
    position: absolute;
    background-color: #68687D;
    width: 60px;
    height: 20px;
    top: 40%;
    right: -27%;
    -webkit-transform: rotateZ(-12deg);
    transform: rotateZ(-12deg);
}

.window1 {
    border-bottom: 19px solid #202134;
    border-right: 8px solid transparent;
    height: 0;
    width: 23px;
    position: absolute;
    left: 51%;
    top: 21%;
    border-top-left-radius: 3px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 3px;
}

.window2 {
    border-bottom: 19px solid #202134;
    border-right: 8px solid transparent;
    height: 0;
    width: 23px;
    position: absolute;
    left: 47.5%;
    top: 21%;
    border-top-left-radius: 3px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 3px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-origin: 0%;
    transform-origin: 0%;
}

.window3 {
    border-bottom: 19px solid #202134;
    border-right: 8px solid transparent;
    height: 0;
    width: 12px;
    position: absolute;
    left: 71%;
    top: 22.8%;
    border-top-left-radius: 3px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 5px;
    -webkit-transform: skew(25deg, 15deg);
    transform: skew(25deg, 15deg);
}

.window4 {
    border-bottom: 19px solid #202134;
    border-right: 8px solid transparent;
    height: 0;
    width: 12px;
    position: absolute;
    left: 14%;
    top: 22.8%;
    border-top-left-radius: 3px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 5px;
    -webkit-transform: skew(-25deg, -15deg) rotateY(180deg);
    transform: skew(-25deg, -15deg) rotateY(180deg);
}

.hor-stab {
    border-bottom: 124px solid #B8B7CB;
    border-right: 5px solid transparent;
    height: 0;
    width: 8px;
    position: absolute;
    left: 43.7%;
    bottom: 38%;
    -webkit-transform: rotateZ(-81deg);
    transform: rotateZ(-81deg);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    border-top-right-radius: 15px;
    z-index: -100;
}

.hor-stab2 {
    border-bottom: 124px solid #68677D;
    border-right: 5px solid transparent;
    height: 0;
    width: 8px;
    position: absolute;
    left: 55.1%;
    bottom: 42.4%;
    border-top-right-radius: 20px;
    z-index: -100;
    -webkit-transform: rotateY(180deg) rotateZ(-81deg);
    transform: rotateY(180deg) rotateZ(-81deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.wing {
    border-bottom: 467px solid #FDFDFD;
    border-right: 25px solid transparent;
    height: 0;
    width: 8px;
    position: absolute;
    left: 40.5%;
    bottom: 23%;
    z-index: -100;
    -webkit-transform: rotateY(180deg) rotateZ(85deg);
    transform: rotateY(180deg) rotateZ(85deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.wing:before {
    content: "";
    position: absolute;
    border-bottom: 29px solid #B9B9CE;
    border-right: 5px solid transparent;
    height: 0;
    width: 5px;
    -webkit-transform: rotateZ(-80deg);
    transform: rotateZ(-80deg);
    border-top-right-radius: 15px;
    top: -12px;
    left: -15px;
}

.wing-bottom {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 500px 20px 0;
    border-color: transparent #D5D4E7 transparent transparent;
    left: 5%;
    bottom: 27.5%;
    z-index: -100;
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
}

.wing-right {
    left: 50%;
    bottom: 26.8%;
    -webkit-transform: rotateY(180deg) rotate(6deg);
    transform: rotateY(180deg) rotate(6deg);
    border-color: transparent #68687D transparent transparent;
}

.right {
    left: 53.5%;
    top: -73%;
    -webkit-transform: rotateZ(85deg);
    transform: rotateZ(85deg);
}

.engine {
    width: 98px;
    height: 100px;
    position: absolute;
    background: #908FA4;
    border-radius: 50%;
    bottom: 2%;
    left: 29.8%;
    overflow: hidden;
}

.engine:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #B9B9CE;
    border-radius: 50%;
    bottom: 5%;
}

.fan {
    position: absolute;
    width: 81%;
    height: 80%;
    background: -webkit-radial-gradient(center, cover, #000005 0%, #2B2A43 28%, #000005 85%);
    background: radial-gradient(center, cover, #000005 0%, #2B2A43 28%, #000005 85%);
    border-radius: inherit;
    top: 50%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.front {
    position: absolute;
    width: 26.8%;
    height: 27.9%;
    background-color: #78778C;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
}

.front:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    left: -33%;
    top: -33%;
}

.inner {
    width: 65%;
    height: 65%;
    background: none;
    background-color: #9190a0;
    z-index: -10;
    left: 49%;
}

.eng-small {
    left: 17.2%;
    bottom: 16.8%;
    width: 73px;
    height: 70px;
}

.eng-big2 {
    left: 61.5%;
}

.small2 {
    left: 76.5%;
}

.box-ticket {
    position: absolute;
    bottom: 50%;
    opacity: 100;
    left: 10%;
}

.ticket {
    width: 600px;
    height: 250px;
    background: #FFB300;
    border-radius: 3px;
    box-shadow: 0 0 100px #aaa;
    border-top: 1px solid #E89F3D;
    border-bottom: 1px solid #E89F3D;
}

.left-ticket {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0px;
    left: -5px;
}

.left-ticket li {
    width: 0px;
    height: 0px;
}

.left-ticket li:nth-child(-n+2) {
    margin-top: 8px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #FFB300;
}

.left-ticket li:nth-child(3),
.left-ticket li:nth-child(6) {
    margin-top: 8px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #EEEEEE;
}

.left-ticket li:nth-child(4) {
    margin-top: 8px;
    margin-left: 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #EEEEEE;
}

.left-ticket li:nth-child(5) {
    margin-top: 8px;
    margin-left: -1px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #EEEEEE;
}

.left-ticket li:nth-child(7),
.left-ticket li:nth-child(9),
.left-ticket li:nth-child(11),
.left-ticket li:nth-child(12) {
    margin-top: 7px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #E5E5E5;
}

.left-ticket li:nth-child(8) {
    margin-top: 7px;
    margin-left: 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #E5E5E5;
}

.left-ticket li:nth-child(10) {
    margin-top: 7px;
    margin-left: 1px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #E5E5E5;
}

.left-ticket li:nth-child(13) {
    margin-top: 7px;
    margin-left: 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #FFB300;
}

.left-ticket li:nth-child(14) {
    margin-top: 7px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #FFB300;
}

.right-ticket {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0px;
    right: -5px;
}

.right-ticket li:nth-child(-n+2) {
    margin-top: 8px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #FFB300;
}

.right-ticket li:nth-child(3),
.right-ticket li:nth-child(4),
.right-ticket li:nth-child(6) {
    margin-top: 8px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #EEEEEE;
}

.right-ticket li:nth-child(5) {
    margin-top: 8px;
    margin-left: -2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #EEEEEE;
}

.right-ticket li:nth-child(8),
.right-ticket li:nth-child(9),
.right-ticket li:nth-child(11) {
    margin-top: 7px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #E5E5E5;
}

.right-ticket li:nth-child(7) {
    margin-top: 7px;
    margin-left: -3px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #E5E5E5;
}

.right-ticket li:nth-child(10) {
    margin-top: 7px;
    margin-left: -2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #E5E5E5;
}

.right-ticket li:nth-child(12) {
    margin-top: 7px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #E5E5E5;
}

.right-ticket li:nth-child(13),
.right-ticket li:nth-child(14) {
    margin-top: 7px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #FFB300;
}

.ticket:after {
    content: '';
    position: absolute;
    right: 200px;
    top: 0px;
    width: 2px;
    height: 250px;
    box-shadow: inset 0 0 0 #FFB300, inset 0 -10px 0 #B56E0A, inset 0 -20px 0 #FFB300, inset 0 -30px 0 #B56E0A, inset 0 -40px 0 #FFB300, inset 0 -50px 0 #999999, inset 0 -60px 0 #E5E5E5, inset 0 -70px 0 #999999, inset 0 -80px 0 #E5E5E5, inset 0 -90px 0 #999999, inset 0 -100px 0 #E5E5E5, inset 0 -110px 0 #999999, inset 0 -120px 0 #E5E5E5, inset 0 -130px 0 #999999, inset 0 -140px 0 #E5E5E5, inset 0 -150px 0 #B0B0B0, inset 0 -160px 0 #EEEEEE, inset 0 -170px 0 #B0B0B0, inset 0 -180px 0 #EEEEEE, inset 0 -190px 0 #B0B0B0, inset 0 -200px 0 #EEEEEE, inset 0 -210px 0 #B0B0B0, inset 0 -220px 0 #FFB300, inset 0 -230px 0 #B56E0A, inset 0 -240px 0 #FFB300, inset 0 -250px 0 #B56E0A;
}

.ticket:before {
    content: '';
    position: absolute;
    z-index: 5;
    right: 199px;
    top: 0px;
    width: 1px;
    height: 250px;
    box-shadow: inset 0 0 0 #FFB300, inset 0 -10px 0 #F4D483, inset 0 -20px 0 #FFB300, inset 0 -30px 0 #F4D483, inset 0 -40px 0 #FFB300, inset 0 -50px 0 #FFFFFF, inset 0 -60px 0 #E5E5E5, inset 0 -70px 0 #FFFFFF, inset 0 -80px 0 #E5E5E5, inset 0 -90px 0 #FFFFFF, inset 0 -100px 0 #E5E5E5, inset 0 -110px 0 #FFFFFF, inset 0 -120px 0 #E5E5E5, inset 0 -130px 0 #FFFFFF, inset 0 -140px 0 #E5E5E5, inset 0 -150px 0 #FFFFFF, inset 0 -160px 0 #EEEEEE, inset 0 -170px 0 #FFFFFF, inset 0 -180px 0 #EEEEEE, inset 0 -190px 0 #FFFFFF, inset 0 -200px 0 #EEEEEE, inset 0 -210px 0 #FFFFFF, inset 0 -220px 0 #FFB300, inset 0 -230px 0 #F4D483, inset 0 -240px 0 #FFB300, inset 0 -250px 0 #F4D483;
}

.content {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 170px;
    background: #eee;
}

.airline {
    position: absolute;
    top: 10px;
    left: 10%;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 102, 1);
}

.boarding {
    position: absolute;
    top: 10px;
    right: 220px;
    font-family: Arial;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}

.jfk {
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: Arial;
    font-size: 38px;
    color: #222;
}

.sfo {
    position: absolute;
    top: 10px;
    left: 180px;
    font-family: Arial;
    font-size: 38px;
    color: #222;
}

.plane {
    position: absolute;
    left: -45vh;
    top: 10vh;
    opacity: 100;
}

.sub-content {
    background: #e5e5e5;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 70px;
}

.watermark {
    position: absolute;
    left: 5px;
    top: -10px;
    font-family: Arial;
    font-size: 110px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
}

.name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 14px;
    color: #999;
}

.name span {
    color: #555;
    font-size: 17px;
}

.flight {
    position: absolute;
    top: 10px;
    left: 180px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 14px;
    color: #999;
}

.flight span {
    color: #555;
    font-size: 17px;
}

.gate {
    position: absolute;
    top: 10px;
    left: 280px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 14px;
    color: #999;
}

.gate span {
    color: #555;
    font-size: 17px;
}

.seat {
    position: absolute;
    top: 10px;
    left: 350px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 14px;
    color: #999;
}

.seat span {
    color: #555;
    font-size: 17px;
}

.boardingtime {
    position: absolute;
    top: 60px;
    left: 10px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 14px;
    color: #999;
}

.boardingtime span {
    color: #555;
    font-size: 17px;
}

.slip {
    left: 455px;
}

.nameslip {
    top: 60px;
    left: 410px;
}

.flightslip {
    left: 410px;
}

.seatslip {
    left: 540px;
}

.jfkslip {
    font-size: 30px;
    top: 20px;
    left: 410px;
}

.sfoslip {
    font-size: 30px;
    top: 20px;
    left: 530px;
}

.planeslip {
    top: 10px;
    left: 475px;
}

.airlineslip {
    left: 440px;
}

.suitcase {
    position: relative;
    margin-left: 15vh;
    margin-bottom: 20px;
    opacity: 100;
}

.typewriter {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    top: 20vh;
    left: 400px;
    opacity: 100;
}

#platen {
    position: absolute;
    width: 180px;
    height: 30px;
    top: 100px;
    left: 85px;
    background: #585755;
    -webkit-animation: platen-type 5s 3, fall-away 20s forwards;
    /* Chrome, Safari, Opera */
    -moz-animation: platen-type 5s 3, fall-away 20s forwards;
    animation: platen-type 5s 3, fall-away 20s forwards;
}

#platen:before {
    position: absolute;
    width: 180px;
    height: 15px;
    top: 15px;
    background: #3d3d3d;
    content: '';
}

#platen:after {
    position: absolute;
    width: 180px;
    height: 4px;
    top: 3px;
    background: #888888;
    content: '';
    box-shadow: 0 12px #3d3d3d, 0 16px #3d3d3d, 0 20px #3d3d3d;
}

#platen-knob-right {
    position: absolute;
    width: 50px;
    height: 4px;
    top: 13px;
    left: 140px;
    background: #585755;
}

#platen-knob-right:before {
    position: absolute;
    width: 10px;
    height: 8px;
    top: -6px;
    left: 45px;
    background: #585755;
    box-shadow: 0 -2px #888888, 0 6px #3d3d3d, 0 10px #3d3d3d;
    content: '';
}

#platen-knob-left {
    position: absolute;
    width: 30px;
    height: 4px;
    top: 8px;
    left: -10px;
    background: #585755;
}

#platen-knob-left:before {
    position: absolute;
    width: 3px;
    height: 6px;
    top: -1px;
    left: 3px;
    background: #585755;
    box-shadow: 0 -4px #888888, 0 4px #3d3d3d, -3px 0 #3d3d3d;
    content: '';
}

#platen-knob-left:after {
    position: absolute;
    width: 10px;
    height: 15px;
    left: 15px;
    top: -8px;
    background: #585755;
    content: '';
}

#carriage-lever {
    position: absolute;
    width: 40px;
    height: 30px;
    top: -10px;
    left: -30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-top: 3px solid #dbdbdb;
    border-right: 3px solid #dbdbdb;
}

#carriage-lever:before {
    position: absolute;
    width: 40px;
    height: 30px;
    top: 0px;
    left: -2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 8px;
    border-top: 2px solid #7a7a7a;
    border-right: 2px solid #7a7a7a;
    content: '';
}

#carriage-lever:after {
    position: absolute;
    width: 25px;
    height: 10px;
    top: 2px;
    left: -15px;
    background: #dbdbdb;
    content: '';
    border-radius: 30px/10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: 0 2px #7a7a7a, -1px 2px #7a7a7a;
}

#paper {
    position: absolute;
    width: 120px;
    height: 125px;
    top: 110px;
    left: 110px;
    background: #fff;
    -webkit-animation: paper-type 5s 3, paper-type2 15s forwards;
    /* Chrome, Safari, Opera */
    -moz-animation: paper-type 5s 3, paper-type2 15s forwards;
    animation: paper-type 5s 3, paper-type2 15s forwards;
}

#note {
    position: relative;
    width: auto;
    font-family: courier;
    padding: 5px;
    overflow: hidden;
}

#body {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    top: 100px;
    -webkit-animation: fall-away 20s forwards;
    /* Chrome, Safari, Opera */
    -moz-animation: fall-away 20s forwards;
    animation: fall-away 20s forwards;
}

#sizer {
    position: absolute;
    width: 100px;
    height: 34px;
    top: 115px;
    background: #444;
}

#top-front {
    position: relative;
    width: 200px;
    height: 62px;
    top: 22px;
    margin: 0 auto;
    overflow: hidden;
}

#top {
    position: relative;
    width: 182px;
    height: 62px;
    margin: 0 auto;
    background: #FFFF00;
    -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 56deg);
    transform: perspective(500px) rotate3d(1, 0, 0, 56deg);
}

#opening {
    position: absolute;
    width: 125px;
    height: 125px;
    top: -46px;
    left: 36px;
    //background:#111;
    border-radius: 100px;
    z-index: 0;
    -webkit-transform: scaleY(.4);
    transform: scaleY(.4);
    overflow: hidden;
}

#internal-shadow {
    position: absolute;
    width: 135px;
    height: 135px;
    top: 60px;
    left: -5px;
    background: #e76056;
    border-radius: 100px;
}

#internal-hollow {
    position: absolute;
    width: 135px;
    height: 135px;
    top: 72px;
    left: -5px;
    background: #585756;
    border-radius: 100px;
}

#internal-hollow:before {
    position: absolute;
    width: 99px;
    height: 99px;
    top: 55px;
    left: 18px;
    background: #434240;
    border-radius: 100px;
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    content: '';
}

#internal-hollow:after {
    position: absolute;
    width: 93px;
    height: 93px;
    top: 62px;
    left: 21px;
    background: #2e2e2e;
    border-radius: 100px;
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    content: '';
}

#internal-board-crop {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 129px;
    left: 18px;
    border-radius: 100px;
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    overflow: hidden;
}

#internal-board {
    position: absolute;
    width: 0;
    height: 0;
    top: -43px;
    left: 11px;
    border-left: 34px solid transparent;
    border-right: 34px solid transparent;
    border-bottom: 60px solid #626262;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scaleY(1.25);
    transform: scaleY(1.25);
}

#internal-board2-crop {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 24px;
    left: 77px;
    overflow: hidden;
}

#internal-board2 {
    position: absolute;
    width: 44px;
    height: 44px;
    top: -26px;
    background: #626262;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#internal-board2:before {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    left: 2px;
    background: #a2a2a2;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: '';
}

#internal-board2:after {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 5px;
    left: 5px;
    background: #b7b7b7;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: '';
}

#cutaway {
    position: absolute;
    width: 40px;
    height: 10px;
    top: 14px;
    left: 79px;
    background: #fff;
}

#cutaway:before {
    position: absolute;
    width: 40px;
    height: 3px;
    top: 7px;
    background: #b7b7b7;
    box-shadow: 0 2px #575754;
    content: '';
}

#cutaway:after {
    position: absolute;
    width: 10px;
    height: 5px;
    left: 5px;
    top: 5px;
    background: #575757;
    box-shadow: 20px 0 #575754;
    content: '';
}

#front:before {
    position: absolute;
    width: 200px;
    height: 100px;
    top: -91px;
    left: 4px;
    background: #FFFF00;
    border-radius: 0 0 3px 3px;
    -webkit-transform: perspective(700px) rotate3d(1, 0, 0, 34deg);
    transform: perspective(700px) rotate3d(1, 0, 0, 34deg);
    content: '';
}

#body #front {
    position: relative;
    width: 208px;
    height: 17px;
    top: 68px;
    left: -4px;
    margin: 0 auto;
    background: #FFFF00;
    border-radius: 0 0 3px 3px;
}

#keyboard {
    position: relative;
    width: 180px;
    height: 68px;
    top: -67px;
    margin: 0 auto;
    background: #3c3c3c;
    border-radius: 3px;
    box-shadow: 0 -4px #c85549;
    -webkit-transform: perspective(700px) rotate3d(1, 0, 0, 34deg);
    transform: perspective(700px) rotate3d(1, 0, 0, 34deg);
}

#keyboard:after {
    position: absolute;
    width: 35px;
    height: 7px;
    top: -19px;
    left: 128px;
    background: #b9bdbe;
    box-shadow: 0 2px #ae6d64;
    content: '';
}

#keys {
    position: relative;
    width: 12px;
    height: 7px;
    top: -122px;
    left: 27px;
    background: #696967;
    border-radius: 1px 1px 3px 3px;
    box-shadow: 14px 0 #696967, 28px 0 #696967, 42px 0 #696967, 56px 0 #696967, 70px 0 #696967, 84px 0 #696967, 98px 0 #696967, 112px 0 #696967, 126px 0 #696967, 140px 0 #696967, -7px 10px #696967, 7px 10px #696967, 21px 10px #696967, 35px 10px #696967, 49px 10px #696967, 63px 10px #696967, 77px 10px #696967, 91px 10px #696967, 105px 10px #696967, 119px 10px #696967, 133px 10px #696967, 147px 10px #696967, 0 20px #696967, 14px 20px #696967, 28px 20px #696967, 42px 20px #696967, 56px 20px #696967, 70px 20px #696967, 84px 20px #696967, 98px 20px #696967, 112px 20px #696967, 126px 20px #696967, 140px 20px #696967, -9px 30px #696967, 7px 30px #696967, 21px 30px #696967, 35px 30px #696967, 49px 30px #696967, 63px 30px #696967, 77px 30px #696967, 91px 30px #696967, 105px 30px #696967, 119px 30px #696967, 133px 30px #696967, 149px 30px #696967, -5px 40px #696967, 145px 40px #696967;
}

#keys:before {
    position: absolute;
    width: 12px;
    height: 7px;
    top: -3px;
    background: #d9d9d9;
    border-radius: 2px 2px 3px 3px;
    box-shadow: 14px 0 #d9d9d9, 28px 0 #d9d9d9, 42px 0 #d9d9d9, 56px 0 #d9d9d9, 70px 0 #d9d9d9, 84px 0 #d9d9d9, 98px 0 #d9d9d9, 112px 0 #d9d9d9, 126px 0 #d9d9d9, 140px 0 #d9d9d9, -7px 10px #d9d9d9, 7px 10px #d9d9d9, 21px 10px #d9d9d9, 35px 10px #d9d9d9, 49px 10px #d9d9d9, 63px 10px #d9d9d9, 77px 10px #d9d9d9, 91px 10px #d9d9d9, 105px 10px #d9d9d9, 119px 10px #d9d9d9, 133px 10px #d9d9d9, 147px 10px #d9d9d9, 0 20px #d9d9d9, 14px 20px #d9d9d9, 28px 20px #d9d9d9, 42px 20px #d9d9d9, 56px 20px #d9d9d9, 70px 20px #d9d9d9, 84px 20px #d9d9d9, 98px 20px #d9d9d9, 112px 20px #d9d9d9, 126px 20px #d9d9d9, 140px 20px #d9d9d9, -9px 30px #d9d9d9, 7px 30px #d9d9d9, 21px 30px #d9d9d9, 35px 30px #d9d9d9, 49px 30px #d9d9d9, 63px 30px #d9d9d9, 77px 30px #d9d9d9, 91px 30px #d9d9d9, 105px 30px #d9d9d9, 119px 30px #d9d9d9, 133px 30px #d9d9d9, 149px 30px #d9d9d9, -5px 40px #d9d9d9, 145px 40px #d9d9d9;
    content: '';
}

#keys:after {
    position: absolute;
    width: 124px;
    height: 7px;
    top: 37px;
    left: 14px;
    background: #d9d9d9;
    border-radius: 2px 2px 3px 3px;
    content: '';
    box-shadow: 0 3px #696969;
}

#credit {
    position: relative;
    top: 110px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #555;
    font-size: 24px;
}

#credit a {
    color: #779984;
    text-decoration: none;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes platen-type {
    0% {
        left: 85px;
    }
    10% {
        left: 80px;
    }
    20% {
        left: 75px;
    }
    30% {
        left: 70px;
    }
    40% {
        left: 65px;
    }
    50% {
        left: 60px;
    }
    60% {
        left: 55px;
    }
    70% {
        left: 50px;
    }
    80% {
        left: 45px;
    }
}


/* Standard syntax */

@keyframes platen-type {
    0% {
        left: 85px;
    }
    10% {
        left: 80px;
    }
    20% {
        left: 75px;
    }
    30% {
        left: 70px;
    }
    40% {
        left: 65px;
    }
    50% {
        left: 60px;
    }
    60% {
        left: 55px;
    }
    70% {
        left: 50px;
    }
    80% {
        left: 45px;
    }
}


/* Chrome, Safari, Opera */

@-webkit-keyframes paper-type {
    0% {
        left: 110px;
    }
    10% {
        left: 105px;
    }
    20% {
        left: 100px;
    }
    30% {
        left: 95px;
    }
    40% {
        left: 90px;
    }
    50% {
        left: 85px;
    }
    60% {
        left: 80px;
    }
    70% {
        left: 75px;
    }
    80% {
        left: 70px;
    }
}


/* Standard syntax */

@keyframes paper-type {
    0% {
        left: 110px;
    }
    10% {
        left: 105px;
    }
    20% {
        left: 100px;
    }
    30% {
        left: 95px;
    }
    40% {
        left: 90px;
    }
    50% {
        left: 85px;
    }
    60% {
        left: 80px;
    }
    70% {
        left: 75px;
    }
    80% {
        left: 70px;
    }
}


/* Chrome, Safari, Opera */

@-webkit-keyframes paper-type2 {
    0% {
        top: 110px;
        height: 125px;
    }
    30% {
        top: 110px;
    }
    33% {
        top: 90px;
    }
    63% {
        top: 90px;
    }
    66% {
        top: 70px;
    }
    96% {
        top: 70px;
        height: 125px;
    }
    100% {
        top: 50px;
        height: 165px;
    }
}


/* Standard syntax */

@keyframes paper-type2 {
    0% {
        top: 110px;
        height: 125px;
    }
    30% {
        top: 110px;
    }
    33% {
        top: 92px;
    }
    63% {
        top: 92px;
    }
    66% {
        top: 74px;
    }
    96% {
        top: 74px;
        height: 125px;
    }
    100% {
        top: 56px;
        height: 165px;
    }
}


/* Chrome, Safari, Opera */

@-webkit-keyframes fall-away {
    0% {
        top: 100px;
    }
    75% {
        top: 100px;
    }
    100% {
        top: 400px;
    }
}


/* Standard syntax */

@keyframes fall-away {
    0% {
        top: 100px;
    }
    75% {
        top: 100px;
    }
    100% {
        top: 400px;
    }
}
