* 
{
  box-sizing: border-box;
}

body 
{
  margin: 0;
}

.code 
{
  width: 100%;
  background: #f46c69;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.svg 
{
  position: absolute;
  bottom: -10px;
  width: 700px;
  left: 0;
  right: 0;
  margin: auto;
}

#macbook 
{
  //display: block;
  animation: macbook .7s linear;
  transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
